.photo-day {
  margin-bottom: 5px;
  position: relative;
  display: block;
  text-decoration: none;

  @include fromMedMobile{
    margin-bottom: 10px;
  }

  @include fromVerticalTablet {
    margin-bottom: 14px;
  }

  &__img-container {
    height: 202px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include fromMedMobile {
      height: 286px;
    }

    @include fromVerticalTablet  {
      height: 455px;
      margin-bottom: 14px;
    }
  }

  &__day {
    position: absolute;
    left: 6px;
    top: 6px;
    width: 80px;

    &:after {
      display: none;
    }

    @include fromMedMobile{
      left: 9px;
      top: 9px;
    }

    @include fromVerticalTablet {
      left: 20px;
      top: 20px;
      width: 160px;
      padding: 28px 0 23px;

      &:after {
        display: block;
      }
    }
  }

  &__name {
    font-size: 13px;
    font-weight: bold;
    color: #000;
    display: none;

    @include fromVerticalTablet {
      display: block;
    }
  }

  &__author {
    font-size: 13px;
    color: #acacac;
    display: none;

    @include fromVerticalTablet {
      display: block;
    }
  }
}
